
<h1><i>Log In </i></h1>
<%= form_tag '/sessions', method: :post do %> 

<div class="container">
<div class="row">
<div class="col-md-6">
<div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
  <input class="form-control" type="text" name="email" placeholder="Email address">
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
  <input class="form-control" type="password" name="password" placeholder="Password">
</div>
 <input type="submit" class="btn btn-danish btn-lg btn-block">
<%end%>
</div>
</div>
</div>