<h1> Send New Message </h1>

<%= form_tag conversations_path, method: :post do %>
  <%= hidden_field_tag :subject, "{:full_name}" %>
  <br>
  <div>
    <%= text_area_tag :body, nil, placeholder: "Type message here" %>
  </div>

  <%= submit_tag "Send" %>

<% end %>
