<div ng-app="app">
 <div ng-controller="eventsCtrl"  ng-init="setup()">

<h1> All upcoming events: </h1>
  <div>
      Filter Events: <input ng-model="titleFilter">
  </div>
  <div ng-repeat="event in events | filter: {title: titleFilter}">
       <a href = '/events/{{event.id}}'><p>{{ event.title }}</p></a>
        <p>{{ event.date }}</p> 
  </div>
  </div>
</div>