<h1> All upcoming events: </h1>

<% @events.each do |event| %>
<h3>  <a href = '/events/<%= event.id %>'><%= event.title %> </a> </h3>
  <%=  event.date.strftime("%a, %B %e") %>
  <br>
  <%= event.start_time.strftime("%l:%M %p") %>
  <br>
  <br>
 
  <% end %>