<h1> Welcome to Eventity! Give back to the world and socialize!</h1>

<% @categories.each do |category| %>
  <a href = "/categories/<%= category.id%>"><%= category.title %></a>
  <br>
  <br>
<% end %> 