<!-- NAVBAR -->
    <div id="page" class="site">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="site-header-affix-wrapper">
        <header id="masthead" class="site-header header-dark" role="banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="site-branding">
                  
                  <h1 class="site-title"><a href="/" rel="home">EVENTITY.</a></h1>

                </div><!-- .site-branding -->
              </div><!-- .col-sm-4 -->

              <div class="col-sm-9">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                  <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-align-left"></i><span class="sr-only">Primary Menu</span></button>

                  <div class="menu-testing-menu-container">
                    <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Profile</a>
                        <ul class="sub-menu">
                        <% if current_user %>
                          <li class="menu-item"><a href="index.html"></a></li>
                          <li class="menu-item"><a href="/users/<%= current_user.id%>">View Profile</a></li>
                          <li class="menu-item"><a href="/users/<%= current_user.id%>/edit">Edit Profile</a></li>
                          <li class="menu-item"><a href="/logout">Log Out</a></li>
                        <% else %>
                          <li class="menu-item">
                            <a data-toggle="modal" href="/signup" data-target="#myModal"> Sign up</a>
                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                 <div class="modal-dialog" role="document">
                                   <div class="modal-content">
                                     <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                       <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                     </div>
                                     <div class="modal-body"> 
                                     </div>
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                       <button type="button" class="btn btn-primary">Save changes</button>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                          </li>
                          <li class="menu-item">    
                          <a data-toggle="modal" href="/login" data-target="#myModal"> Log in</a>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                               <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                   <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                   </div>
                                   <div class="modal-body">
                                  
                                   </div>
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                   </div>
                                 </div>
                               </div>
                             </div>
                          </li>
                        <% end %>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Events</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="/events">All Upcoming Events</a></li>
                          <li class="menu-item"><a href="#">Event Categories</a>
                            <ul class="sub-menu">
                              <li class="menu-item"><a href="/categories/1">Animals</a></li>
                              <li class="menu-item"><a href="/categories/2">Environment</a></li>
                              <li class="menu-item"><a href="/categories/3">Education</a></li>
                              <li class="menu-item"><a href="/categories/4">Arts and Culture</a></li>
                              <li class="menu-item"><a href="/categories/5">Community</a></li>
                              <li class="menu-item"><a href="/categories/6">Fundraising</a></li>
                            </ul>
                            <% if current_user %>
                              <li class="menu-item"><a href="/events/new">Add New Event</a></li>
                            <%end%>
                            <li class="menu-item"><a href="/events/random">**Feeling <i> spontaneous</i>?**</a></li>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="/categories/8">Volunteer Programs</a></li>
                      <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </nav><!-- #site-navigation -->
              </div><!-- .col-sm-8 -->
            </div><!-- .row -->
          </div><!-- .container -->
        </header><!-- #masthead -->
      </div><!-- .site-header-affix-wrapper -->
<div class="container-fluid">
      <!-- #header -->
      <section id="header" style="background-image: url('/img/danish-image-header.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <blockquote>
                <p> Welcome to Eventity! Give back to the world and socialize!</p>
                <small></small>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
      </section><!-- #header -->

      <!-- featured -->
      <div id="featured" class="section-featured">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('http://www.ispca.ie/uploads/events/Events-Page-Pic.jpg');">
                  <h3><a href="/categories/1">Animals</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->

            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('https://www.memphisdailynews.com/Editorial_Images/21389.jpg');">
                  <h3><a href="/categories/2">Environment</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->

            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('http://archive.epicgapyear.com/wp-content/uploads/2014/08/school-volunteer-project-fiji-volunteering-education-community-epic-gap-year.jpg');">
                  <h3><a href="/categories/3">Education</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->
          </div><!-- .row -->
          <div class="row">
            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('http://www.catamountarts.org/media/cache/vdw_media_album_thumbnail/assets/media/default/0001/01/fda7299474a84eb1a3cec0413f2829deca2420d1.jpeg');">
                  <h3><a href="/categories/4">Arts and Culture</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->

            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('https://crowdvoice-production-bucket.s3.amazonaws.com/uploads/voice/background/83/alg_gay-civil-rights-protest.jpg');">
                  <h3><a href="/categories/5">Community</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->

            <div class="col-sm-4">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('http://maestrosoft.com/images/ideas/ideas-home.jpg');">
                  <h3><a href="/categories/6">Fundraising</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-4 -->
          </div><!-- .row -->
        <div class="row">
            <div class="col-md-12">
              <div class="featured-container">
                <div class="featured-img" style="background-image: url('https://media.blueshieldca.com/wp-content/uploads/2016/02/FoodBank.jpg');">
                  <h3><a href="/categories/8">Volunteer Programs</a></h3>
                </div><!-- .featured-img -->
              </div><!-- .featured-container -->
            </div><!-- .col-sm-6 -->
        </div> <!-- row -->
        </div><!-- .container -->
      </div><!-- #featured -->

      <!-- content -->
      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="page-title"><h2>Latest Article</h2></div>
                </div><!-- .col-md-12 -->
              </div><!-- .row -->

              <div class="row entry-container">
                <div class="col-md-12">
                  <article class="post format-standard hentry entry-list">
                    <div class="row">
                      <div class="col-sm-6">
                        <img src="/img/danish-image-post-01.jpg" class="img-responsive" alt="Conquered the rock with rock!">
                      </div><!-- .col-sm-6 -->
                      <div class="col-sm-6">
                        <div class="entry-list-title">
                          <h6 class="entry-cat"><a href="archive.html">travel</a> </h6>
                          <h2 class="entry-title"><a href="single.html" rel="bookmark">Conquered the rock with rock!</a></h2>
                        </div><!-- .entry-list-title -->

                        <div class="entry-meta">
                          <span class="posted-on">Posted on <a href="single.html" rel="bookmark"><time class="entry-date published updated" datetime="2016-05-09">May 9, 2016</time></a></span>
                          <span class="byline"> by <span class="author vcard"><a class="url fn n" href="#">Brown</a></span></span>
                          <span class="reading-estimation">8 min read</span>
                        </div><!-- .entry-meta -->
                        
                        <div class="entry-summary">
                          <p>Just as in the physical world, visual balance is a good thing. It’s desirable in and of itself. An unbalanced composition can feel uncomfortable for the viewer. Look back at the second of the three seesaw images — it looks wrong because we can tell that the seesaw shouldn’t be in balance..
                          <a href="single.html" class="more-link">
                            <span class="moretext">Continue reading</span> <span class="screen-reader-text">Conquered the rock with rock!</span>
                          </a>
                          </p>
                        </div><!-- .entry-summary -->
                      </div><!-- .col-# -->
                    </div><!-- .entry-list -->
                  </article><!-- .post -->

                  <article class="post format-standard hentry entry-list">
                    <div class="row">
                      <div class="col-sm-6">
                        <img src="/img/danish-image-post-03.jpg" class="img-responsive" alt="Beautiful forest at mount Sindoro">
                      </div><!-- .col-sm-6 -->
                      <div class="col-sm-6">
                        <div class="entry-list-title">
                          <h6 class="entry-cat"><a href="archive.html">nature</a> </h6>
                          <h2 class="entry-title"><a href="single.html" rel="bookmark">Beautiful forest at mount Sindoro</a></h2>
                        </div><!-- .entry-list-title -->

                        <div class="entry-meta">
                          <span class="posted-on">
                            Posted on <a href="single.html" rel="bookmark"> <time class="entry-date" datetime="2016-05-26">April 12, 2016</time> </a>
                          </span><!-- .posted-on -->
                          <span class="byline">
                            by <span class="author vcard"><a class="url fn n" href="archive.html">Danish</a></span>
                          </span><!-- .byline -->
                          <span class="reading-estimation">12 min read</span>
                        </div><!-- .entry-meta -->
                        
                        <div class="entry-summary">
                          <p>The visual interest is balanced, which keeps viewers engaged with the design. Without visual balance, viewers might not see all areas of the design. They probably won’t spend any time in areas with less visual weight or interest. Any information in those areas could easily go unnoticed..
                          <a href="single.html" class="more-link">
                            <span class="moretext">Continue reading</span> <span class="screen-reader-text">Beautiful forest at mount Sindoro</span>
                          </a>
                          </p>
                        </div><!-- .entry-summary -->
                      </div><!-- .col-# -->
                    </div><!-- .entry-list -->
                  </article><!-- .post -->

                  <article class="post format-standard hentry entry-list">
                    <div class="row">
                      <div class="col-sm-6">
                        <img src="/img/danish-image-post-06.jpg" class="img-responsive" alt="You say: Dont leave me, but you are gone. Liar">
                      </div><!-- .col-sm-6 -->
                      <div class="col-sm-6">
                        <div class="entry-list-title">
                          <h6 class="entry-cat"><a href="archive.html">Love life</a> </h6>
                          <h2 class="entry-title"><a href="single.html" rel="bookmark">You say: Dont leave me, but you are gone. Liar</a></h2>
                        </div><!-- .entry-list-title -->

                        <div class="entry-meta">
                          <span class="posted-on">
                            Posted on <a href="single.html" rel="bookmark"> <time class="entry-date" datetime="2016-04-21">April 21, 2016</time> </a>
                          </span><!-- .posted-on -->
                          <span class="byline">
                            by <span class="author vcard"><a class="url fn n" href="archive.html">Jane</a></span>
                          </span><!-- .byline -->
                          <span class="reading-estimation">12 min read</span>
                        </div><!-- .entry-meta -->
                        
                        <div class="entry-summary">
                          <p>The visual interest is balanced, which keeps viewers engaged with the design. Without visual balance, viewers might not see all areas of the design. They probably won’t spend any time in areas with less visual weight or interest. Any information in those areas could easily go unnoticed..
                          <a href="single.html" class="more-link">
                            <span class="moretext">Continue reading</span> <span class="screen-reader-text">You say: Dont leave me, but you are gone. Liar</span>
                          </a>
                          </p>
                        </div><!-- .entry-summary -->
                      </div><!-- .col-# -->
                    </div><!-- .entry-list -->
                  </article><!-- .post -->

                  <!-- navigation -->
                  <nav class="navigation pagination" role="navigation">
                    <h2 class="screen-reader-text">Posts navigation</h2>
                    <div class="nav-links">
                      <span class="page-numbers current">1</span>
                      <a class="page-numbers" href="#">2</a>
                      <span class="page-numbers dots">…</span>
                      <a class="page-numbers" href="#">4</a>
                      <a class="next page-numbers" href="#">Next</a>
                    </div><!-- .nav-links -->
                  </nav><!-- .navigation -->

                </div><!-- .col-md-12 -->
              </div><!-- .entry-container -->
            </div><!-- .container -->

            <!-- portfolio -->
            <section id="portfolio" class="section-portfolio">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="page-title"><h2>Latest Portfolio</h2></div>
                  </div><!-- .col-md-12 -->
                </div><!-- .row -->
              </div><!-- .container -->

              <ul class="container-portfolio">
                <li>
                  <div class="portfolio-item">
                    <img src="/img/danish-image-portfolio-01.jpg" class="img-responsive" alt="danish-portfolio-cover-01">
                    <div class="portfolio-caption">
                      <div class="portfolio-text">
                        <span class="portfolio-meta"><a href="archive-portfolio.html">Women</a></span>
                        <h3>Women street <span>//</span></h3>
                        <a href="single-portfolio.html" class="btn btn-danish btn-sm">View &raquo;</a>
                      </div><!-- .portfolio-text -->
                    </div><!-- .portfolio-caption -->
                  </div><!-- .portfolio-item -->
                </li>
                <li>
                  <div class="portfolio-item">
                    <img src="/img/danish-image-portfolio-02.jpg" class="img-responsive" alt="danish-portfolio-cover-02">
                    <div class="portfolio-caption">
                      <div class="portfolio-text">
                        <span class="portfolio-meta"><a href="archive-portfolio.html">Photography</a></span>
                        <h3>Ferris wheel <span>//</span></h3>
                        <a href="single-portfolio.html" class="btn btn-danish btn-sm">View &raquo;</a>
                      </div><!-- .portfolio-text -->
                    </div><!-- .portfolio-caption -->
                  </div><!-- .portfolio-item -->
                </li>
                <li>
                  <div class="portfolio-item">
                    <img src="/img/danish-image-portfolio-03.jpg" class="img-responsive" alt="danish-portfolio-cover-03">
                    <div class="portfolio-caption">
                      <div class="portfolio-text">
                        <span class="portfolio-meta"><a href="archive-portfolio.html">Women</a></span>
                        <h3>Female Climber <span>//</span></h3>
                        <a href="single-portfolio.html" class="btn btn-danish btn-sm">View &raquo;</a>
                      </div><!-- .portfolio-text -->
                    </div><!-- .portfolio-caption -->
                  </div><!-- .portfolio-item -->
                </li>
                <li>
                  <div class="portfolio-item">
                    <img src="/img/danish-image-portfolio-04.jpg" class="img-responsive" alt="danish-portfolio-cover-04">
                    <div class="portfolio-caption">
                      <div class="portfolio-text">
                        <span class="portfolio-meta"><a href="archive-portfolio.html">WordPress</a></span>
                        <h3>Desert’s camels <span>//</span></h3>
                        <a href="single-portfolio.html" class="btn btn-danish btn-sm">View &raquo;</a>
                      </div><!-- .portfolio-text -->
                    </div><!-- .portfolio-caption -->
                  </div><!-- .portfolio-item -->
                </li>
                <li>
                  <div class="portfolio-item">
                    <img src="/img/danish-image-portfolio-05.jpg" class="img-responsive" alt="danish-portfolio-cover-05">
                    <div class="portfolio-caption">
                      <div class="portfolio-text">
                        <span class="portfolio-meta"><a href="archive-portfolio.html">Flower</a></span>
                        <h3>The flower crown <span>//</span></h3>
                        <a href="single-portfolio.html" class="btn btn-danish btn-sm">View &raquo;</a>
                      </div><!-- .portfolio-text -->
                    </div><!-- .portfolio-caption -->
                  </div><!-- .portfolio-item -->
                </li>
                <li>
                  <div class="portfolio-item">
                    <img src="/img/danish-image-portfolio-06.jpg" class="img-responsive" alt="danish-portfolio-cover-06">
                    <div class="portfolio-caption">
                      <div class="portfolio-text">
                        <span class="portfolio-meta"><a href="archive-portfolio.html">Women</a></span>
                        <h3>Come on, take a bath <span>//</span></h3>
                        <a href="single-portfolio.html" class="btn btn-danish btn-sm">View &raquo;</a>
                      </div><!-- .portfolio-text -->
                    </div><!-- .portfolio-caption -->
                  </div><!-- .portfolio-item -->
                </li>
                <li>
                  <div class="portfolio-item">
                    <img src="/img/danish-image-portfolio-07.jpg" class="img-responsive" alt="danish-portfolio-cover-07">
                    <div class="portfolio-caption">
                      <div class="portfolio-text">
                        <span class="portfolio-meta"><a href="archive-portfolio.html">Photography</a></span>
                        <h3>Prewedding Session <span>//</span></h3>
                        <a href="single-portfolio.html" class="btn btn-danish btn-sm">View &raquo;</a>
                      </div><!-- .portfolio-text -->
                    </div><!-- .portfolio-caption -->
                  </div><!-- .portfolio-item -->
                </li>
                <li>
                  <div class="portfolio-item">
                    <img src="/img/danish-image-portfolio-08.jpg" class="img-responsive" alt="danish-portfolio-cover-08">
                    <div class="portfolio-caption">
                      <div class="portfolio-text">
                        <span class="portfolio-meta"><a href="archive-portfolio.html">Photography</a></span>
                        <h3>Do it your self <span>//</span></h3>
                        <a href="single-portfolio.html" class="btn btn-danish btn-sm">View &raquo;</a>
                      </div><!-- .portfolio-text -->
                    </div><!-- .portfolio-caption -->
                  </div><!-- .portfolio-item -->
                </li>
              </ul><!-- .container-portfolio -->
            </section><!-- #portfolio -->

          </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

      <!-- site-footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <section class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                  <a href="archive.html">beauty</a> <a href="archive.html">destiny</a>
                  <a href="archive.html">happy</a> <a href="archive.html">inspiring</a>
                  <a href="archive.html">live</a> <a href="archive.html">love live</a>
                  <a href="archive.html">tips</a> <a href="archive.html">captions</a>
                </div>
              </section><!-- .widget_tag_cloud -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-3">
              <section class="widget widget_recent_entries">
                <h3 class="widget-title">Headline</h3>
                <ul>
                  <li>
                    <a href="single.html">Beauty is not just what you see</a>
                    <span class="post-date">May 19, 2016</span>
                  </li>
                  <li>
                    <a href="single.html">You say: Dont leave me, but you are gone. Liar</a>
                    <span class="post-date">May 9, 2016</span>
                  </li>
                  <li>
                    <a href="single.html">You never know how beautiful you are</a>
                    <span class="post-date">May 5, 2016</span>
                  </li>
                </ul>
              </section><!-- .widget_recent_entries -->
            </div><!-- .col-sm-3 -->

            <div class="col-sm-6">
              <section class="widget danish_widget_site_info">
                <div class="site-info">
                  <h4 class="site-brand"><i class="fa fa-recycle"></i> Danish.</h4>
                  <p>1024 Main Street, Jjrn Plrt Btl<br>+62 (123) 456-7890</p>
                  <br>
                  <p class="muted">© 2016 Brand Inc.</p>
                  <a href="#">Terms of Service</a> <span>/</span> <a href="#">Privacy</a>
                </div><!-- .site-info -->
              </section><!-- .danish_widget_site_info -->
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </footer><!-- #site-footer -->

      <!-- copyright -->
      <section id="copyright" class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 copy-left">
              Copyright © 2016 <a href="http://templateninja.net"><strong>TemplateNinja</strong></a>. All Right Reserved.
            </div><!-- .col-sm-6 -->

            <div class="col-sm-6 copy-right">
              <ul class="social-icon">
                <li><a href="http://twitter.com/_templateninja" target="_blank" class="icon-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Template-Ninja-1555671317979815" target="_blank" class="icon-facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank" class="icon-youtube"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/templateninja/" target="_blank" class="icon-instagram"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div><!-- .col-sm-6 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section><!-- #copyright -->

    </div><!-- #page -->

  </body>
</html>